@charset "UTF-8";

nav{
    color: #4e8d52;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    margin-bottom: 0px;
}
nav .abrir-menu{
    margin: 5px;
    display: none;
    cursor: pointer;
}
nav .menu{
    display: flex;
    list-style: none;
}
nav .menu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #397943;
}
nav .menu li a:hover{
    background-color: #4e8d52;
    color: white;
    border-radius: 12%;

}
nav .fecha-menu{
    display: none;
    cursor: pointer;
    
}
.logo img{
    margin-top: 6px;
    height: 50px;
}
@media (max-width:750px) {
    nav .menu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #203821ad;
        transition: top 1s ease;
        display: none;
    }
    nav .menu .fecha-menu{
        display: block;
        padding-top: 10px;
        color: #67e477;
        
    }
    nav .menu li a{
        color: #67ec79;
    }
    nav .abrir-menu{
        display: block;
    }
    nav .menu li a:hover{
        background: none;
        color: white;
    }
}